  @import helper._
  @()
  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">	
  <div class="container">
    <div class="col-md-6">
    <div id="logbox">
      <form id="signup" method="post" action="/student/process-sign-up">
      @CSRF.formField 
        <h1>create an account</h1>
        <input name="firstName" type="text" placeholder="What's your first name" autofocus="autofocus" required="required" class="input pass"/>
        <input name="lastName" type="text" placeholder="What's your last name" required="required" class="input pass"/>
        <input name="password" type="password" placeholder="Confirm password" required="required" class="input pass"/>
        <input name="email" type="email" placeholder="Email address" class="input pass"/>
        <input name="phoneNumber" type="text" placeholder="Please provide contact number" class="input pass"/>
        <input type="submit" value="Sign me up!" class="inputButton"/>
        <div class="text-center">
            already have an account? <a href="/student/login-page" id="login_id">login</a>
        </div>
      </form>
    </div>
   </div>
   
    <!--col-md-6-->