@import helper._
@()
   <!DOCTYPE html>
<html lang="en">
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="@routes.Assets.versioned("rits/css/bootstrap.min.css")">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
		<!-- Website Font style -->
		<link rel="stylesheet" href="@routes.Assets.versioned("rits/css/font-awesome.min.css")">
		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Admin</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Login Form</h1>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="@routes.StudentController.processLogin()">
					@CSRF.formField 
						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="email"  placeholder="Enter your Username"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password"  placeholder="Enter your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Sign in</button>
						</div>
						<div class="login-register">
				            <a href="/sign-up">Create account</a> or <a href="#">reset password</a>
				         </div>
					</form>
				</div>
			</div>
		</div>
         <script src="@routes.Assets.versioned("rits/js/jquery-2.1.1.js")"></script>
         <script src="@routes.Assets.versioned("rits/js/bootstrap.min.js")"></script>
	</body>
</html>